$background-color: #F7F7FF;
$primary-color: #001514;
$secondary-color: #007FFF;
$tertiary-color: #13293D;
$quartiary-color: #F7F7FF;

$xs-breakpoint: 575.98px;
$sm-breakpoint: 767.98px;
$md-breakpoint: 991.98px;
$lg-breakpoint: 1199.98px;
$xl-breakpoint: 1200px;